@import url(https://fonts.googleapis.com/css?family=Montserrat);
*  {
    margin:0;
    padding:0;
}

body{
  background: #030321 !important;
  font-family: Arial;
	color:#fff;
}

.home {
  text-align: center;   
}

/*------------ LETRA CSS ---------------*/



header{
  height: 120px;
  }

.header2 {
  height: 54px;
}

svg {
  font: 10.5em 'Montserrat';
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
/*------------ LETRA CSS ---------------*/


.img-hover{
  text-align: center;
  margin-top: 2%;
  background-position: 0 -345px;
}

.img {
    text-align: center;
    margin-top: 2%;
    height: 320px;
    width: 100%;
    background-image: url(../img/doisjunto.png);
    background-repeat: no-repeat;
    background-size: 331px;
    background-position-x: center;
}




.footer {
    margin-top: 5% !important;
    text-align: center;
    bottom: 0;
}

.tit{
	color: #000;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a {
    color: #91bce1;
    text-decoration: none;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0% auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    color: #000
 font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password],input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  color: #000;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #000;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.modal-dialog {
    width: 360px;
    margin: 30px auto;
}

.ul-menu {
    text-decoration: none;
    list-style-type: none;

}

.menu-lateral {

  text-align: center;
  margin-left: 1%;
  background: #4a5e65;
  font-size: 20px;
  width: 134px;
  height: 49px;
  -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
      -o-transform: skew(10deg);
}

.fases {
  top: 10%;
  left: 3%;
}

.fases p{
  margin-top: 8%;
}

.sair {
    text-align: right;
    color: #fff;
    margin: 16px auto;
}

.sair a {
  text-align: right;
  color: #fff;
  margin: 4%;
}

.login-inicial {
  margin-top: 10%;
} 

.center{
  text-align: center;
}
ul.ul-menu.col-md-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.vh{
  min-height: 70vh;
}